.terraform/
*.tfstate*
*.tfstate.backup
crash.log

# overrides locales (no deben versionarse)
override.tf
override.tf.json
*.override.tf
*.override.tf.json

# lock y artefactos locales de este demo
.terraform.lock.hcl
artifacts/
